build/
.gradle/
run/
logs/
*.log
out/
bin/
classes/
*.iml
*.iws
*.ipr
.idea/
.project
.classpath
.settings/
.vscode/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.cache/
src/generated/resources/
